<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calendarview</key>
	<dict>
		<key>titleLabel</key>
		<dict>
			<key>Name</key>
			<string>2017 四月</string>
			<key>Rect</key>
			<string>0.361, 0.0465, 0.26, 0.03</string>
			<key>Color</key>
			<string>33,33,33</string>
			<key>Font</key>
			<string>15</string>
		</dict>
		<key>dayLable</key>
		<dict>
			<key>Name</key>
			<string>3</string>
			<key>Rect</key>
			<string>0.045, 0, 0.1, 0.0495</string>
			<key>Color</key>
			<string>33,33,33</string>
			<key>Font</key>
			<string>13</string>
		</dict>
		<key>weekdayLable</key>
		<dict>
			<key>Name</key>
			<string>周日</string>
			<key>Rect</key>
			<string>0.045, 0.1124,0.1, 0.028</string>
			<key>Color</key>
			<string>33,33,33</string>
			<key>Font</key>
			<string>13</string>
		</dict>
		<key>prevButton</key>
		<dict>
			<key>imagePathName</key>
			<string>prev.png</string>
			<key>buttonName</key>
			<string>上一月</string>
			<key>buttonRect</key>
			<string>0.302, 0.0465, 0.0587, 0.033</string>
		</dict>
		<key>nextButton</key>
		<dict>
			<key>imagePathName</key>
			<string>next.png</string>
			<key>buttonName</key>
			<string>下一月</string>
			<key>buttonRect</key>
			<string>0.621, 0.0465, 0.0587, 0.033</string>
		</dict>
	</dict>
</dict>
</plist>
